body {
    background-image: url("img/bg_02.PNG");
background-color: #a55125;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
overflow: hidden;
}
.row{
    display: grid;
    flex-wrap: wrap;
    vertical-align: middle;
    width: 100px;
    margin:  auto auto auto auto;
}
.left{

    margin: auto auto auto auto;
}
.right{
    margin: auto auto auto auto;
}
.middle {

    margin: auto auto auto auto;
}
.img-con {
    vertical-align: middle;
    object-fit: cover;
}

.img-con {
    display: flex;
    vertical-align: middle;
    padding: 5px;
    flex-wrap: wrap;
    flex: 100%;
    
}
.row {
    flex: 100%;
    max-width: 25%;
    padding: 0 4px;
}
.img-con {
    text-align: center;
    flex-wrap: wrap;
    vertical-align: middle;
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
    transform: scale(0.9);
}
@media screen and (max-width: 500px) {
  .left {
    flex: 100%;
    text-align: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .right {
    flex: 100%;
    text-align: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .middle {
    flex: 100%;
    text-align: center;
    max-width: 100%;
  }
}
.icons:hover{
 animation-name: button;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
.button:hover {
    scale: 97%
}
.button {
    transition: scale 0.5s;
}
@keyframes button {
    0% {transform: rotate(0deg);}
    33% {transform: rotate(10deg);}
    66% {transform: rotate(-14deg);}
    100% {transform: rotate(0deg);}
}



